<section
  class="blog padding-y-120 section-bg position-relative z-index-1 overflow-hidden"
>
  <img
    src="assets/images/shapes/pattern-five.png"
    class="position-absolute end-0 top-0 z-index--1"
    alt=""
  />
  <div class="container container-two">
    <div
      class="section-heading style-left style-flex flx-between align-items-end gap-3"
    >
      <div class="section-heading__inner">
        <h3 class="section-heading__title">Browse all plans and offers</h3>
      </div>
      <a href="blog.html" class="btn btn-main btn-lg pill"></a>
    </div>
    <div class="row gy-4">
      <div class="col-lg-4 col-sm-6">
        <app-service-item 
        plan="Standard" storesetup="Basic store setup with customizable themes." products="Add up to 100 products." storage="10 GB of storage space." support="Email support with a 48-hour response time.." price=" $29/month">
      </app-service-item>
      </div>    
      <div class="col-lg-4 col-sm-6">
        <app-service-item 
        plan="Pro" storesetup="Advanced store setup with professional design templates." products="Add up to 1,000 products." storage="50 GB of storage space." support="Priority email support with a 24-hour response time." price=" $79/month">
      </app-service-item>
      </div>
      <div class="col-lg-4 col-sm-6">
        <app-service-item 
          plan="Premium" storesetup="Full-service store setup with custom design and branding." products=" Unlimited products.." storage=" 200 GB of storage space." support="24/7 premium support with a dedicated account manager." price=" $199/month">
        </app-service-item>
      </div>
    </div>
  </div>
</section>
