<footer class="footer">
    <img src="assets/images/shapes/pattern.png" alt="" class="bg-pattern">
    <img src="assets/images/shapes/element1.png" alt="" class="element one">
    <img src="assets/images/shapes/element2.png" alt="" class="element two">
    <img src="assets/images/gradients/footer-gradient.png" alt="" class="bg--gradient">

    <div class="container container-two">
        <div class="row gy-5">
            <div class="col-xl-3 col-sm-6">
                <div class="footer-item">
                    <div class="footer-item__logo">
                        <a href="index.html"> <img src="assets/images/logo/mkshop.png" alt=""></a>
                    </div>
                    <p class="footer-item__desc">MKShop: Where Your Storefront Dreams Come True.</p>                 
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-2 col-sm-6 col-xs-6">
                <div class="footer-item">
                    <h5 class="footer-item__title">Useful Link</h5>
                    <ul class="footer-menu">
                        <li class="footer-menu__item"><a routerLink="/services" class="footer-menu__link">Services </a></li>

                    </ul>
                </div>
            </div>
            <div class="col-xl-1 d-xl-block d-none"></div>
            <div class="col-xl-4 col-sm-6">
                <div class="footer-item">
                    <h5 class="footer-item__title">Subscribe</h5>
                    <p class="footer-item__desc">Subscribe our newsletter to get updated the latest news</p>
                    <form action="#" class="mt-4 subscribe-box d-flex align-items-center flex-column gap-2">
                        <input type="text" class="form-control common-input pill text-white" placeholder="Enter Mail">
                        <button type="submit" class="btn btn-main btn-lg w-100 pill">Subscribe Now</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</footer>